*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #212121 url('../images/tv_frame.png');
    color: #FFF;
    font-family: Helvetica, Verdana;
    font-size: 1em;
}

article, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

img, video {
    max-width: 100%;
}

header, section#contenidor, footer {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

#titol,#boton{
    display: inline-block;
    width: 65%;
}
#boton{
    width: 30%;
    min-height: 100px;
}

h1,h2,h3{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 35px/normal "Anton", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 0 50px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) , -20px -20px 40px rgb(255,174,52) , 20px -40px 50px rgb(236,118,12) , -20px -60px 60px rgb(205,70,6) , 0 -80px 70px rgb(151,55,22) , 10px -90px 80px rgb(69,27,14) ;
}

#principal, aside {
    background: url(../images/fondo2.png);
    border-radius: 0.5em;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    padding: .25em;
    vertical-align: top;
    width: 65%;
}

aside{
    background: transparent;
    width: 30%;
}

article#box {
    border-radius: .5em;
    margin: 1em auto;
    padding: 2.5em;
    text-align: left;
    max-width: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 10%;
}

canvas{
    background: url(../images/fondo_canvas.png);
    opacity: .8;
    border-radius: .5em;
    border:1px solid black;
    width: 20%;
    max-width: 25%;
    margin: .5em auto;
}

#btReset{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #c29523;
    padding: 10px 20px 10px 20px;
    border: solid #21211c 2px;
    text-decoration: none;
}

#btReset{
    text-decoration: none;
}

.mensajeTxt {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 2%;
    border: none;
    font: normal 50px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.mensajeTxt:hover {
    text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}

aside{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 72px/normal "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

aside:hover{
    text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#contador, #num, #msg{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#msg{
    margin: 1em auto;
}

@media(min-width: 1081px) {
    header h1 {
        text-align: left;
        width: 35%;
    }
    nav {
        text-align: right;
        width: 60%;
    }
}
@media(max-width: 1080px) {
    nav li {
        font-size: 1.3em;
    }
    article#galeria-inicio {
        width: 90%;
    }
    aside {
        width: 20%;
    }
}
@media(max-width: 800px) {
    nav li {
        font-size: .95em;
    }
    article#galeria-inicio {
        width: 88%;
    }
}
@media(max-width: 600px) {
    nav li {
        display: inline-block;
        margin: 0;
        width: 98%;
    }
    section#principal {
        margin-bottom: .2em;
    }
    section#principal, aside {
        display: block;
        width: 95%;
    }
}